.input{
  width: 2.87rem;
  height: 2.87rem;

  

  background-color: #cfcfd9;
  border-radius: 5.0rem;
  border: none;
  color: #ff6400;

  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  
}